.card_grid_wrapper {
	background: #3f3f3f;
	width: 100%;
}

.card_grid__title {
	text-align: center;
	font-family: 'Roboto Mono', sans-serif;
	color: #B8B8B8;
	font-size: 15px;
	padding: 20px;
}

.card_grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 1200px;
	margin: auto;
	padding: 20px 30px 150px 30px;
}

@media only screen and (max-width: 1300px) {
	.card_grid {
		grid-template-columns: 1fr 1fr;
		max-width: 1000px;
	}
}

@media only screen and (max-width: 860px) {
	.card_grid {
		grid-template-columns: 1fr;
		max-width: 600px;
	}
}

@media only screen and (max-width: 550px) {
	.card_grid {
		padding: 10px;
	}
}