.card {
	position: relative;
	display: grid;
	background-color: #222;
	border-radius: 10px;
	grid-template-rows: 3fr 1fr;
	font-family: 'Roboto Mono', san-serif;
	font-size: 15px;
	color: #ddd;
	min-height: 380px;
	margin-bottom: 50px;
	margin: 20px;
	cursor: pointer;
}

.card__top {
	grid-row: 1;
	position: relative;
}

.card__bottom {
	grid-row: 2;
	padding: 20px 25px;
}

.card__cover_photo {
	background-color: #222;
	background-size: cover;
	height: 100%;
	border-radius: 10px 10px 0 0;
}

.card__description {
	z-index: 10;
	height: 100%;
	width: 100%;
	background-color: #222;
	opacity: 0;
	position: absolute;
	top: 0;
  	left: 0;
  	border-radius: 10px 10px 0 0;
  	transition: opacity 0.1s;
}

.card__description_text {
	color: white;
	font-family: 'Old Standard TT', serif;
	font-size: 35px;
	padding: 30px 25px 25px 25px;
  	text-align: left;
}

.card__description:hover {
	opacity: 1;
}

.card__title {
	margin-top: 5px;
	font-weight: 700;
}

.card__subtitle {
	margin-top: 5px;
	font-weight: 300;
}

.show {
	display: block;
}

.card__modal {
	border-radius: 10px;
	max-width: 800px;
	font-family: 'Roboto Mono', san-serif;
	line-height: 1.6;
	font-size: 15px;
	max-height: 90vh;
	z-index: 101;
	overflow: auto;
	background-color: #3f3f3f;
	margin: 20px auto;
	padding: 40px;
}

.card__modal img,
.card__modal iframe {
	width: 100%;
	display: block;
	margin: auto;
	padding: 20px 0;
	max-width: 600px;
}

.card__modal p {
	display: block;
	margin: auto;
	max-width: 700px;
	padding: 10px 0;
}

.card__modal a {
	color: #FCCB2B; /* yellow */
}

.card__modal_title {
	margin: auto;
	text-align: center;
	font-family: 'Old Standard TT', serif;
	font-size: 35px;
}

.ReactModal__Body--open {
    overflow: hidden;
}

@media only screen and (max-width: 550px) {
	.card__description_text {
		font-size: 25px;
		line-height: 40px;
	}

	.card {
		min-height: 200px;
	}

	.card__modal {
		padding: 20px;
		margin: 20px;
	}
}