.card_grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 1200px;
	margin: auto;
	margin-top: 150px;
	margin-bottom: 150px;
	background: linear-gradient(to bottom, #535353, #2F2F2F 25%);
}