.circle_illustration {
	padding: 80px 70px 80px 70px;
	display: grid;
	cursor: pointer;
}

.circle_row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.dot {
  height: 55px;
  width: 55px;
  margin: auto;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-radius: 50%;
  display: inline-block;
  animation-duration: 3s;
  animation-name: undulate;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes undulate {
	from {
		clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 50% 50%, 50% 100%, 0% 100%);
	}
	to {
		clip-path: polygon(0% 0%, 0% 0%, 100% 50%, 50% 50%, 50% 100%, 0% 100%);
	}
}

.circle_row_1.dot {

}

.circle_row_2.dot {
	animation-delay: 500ms;
}

.circle_row_3.dot {
	animation-delay: 1000ms;
}

.circle_row_4.dot {
	animation-delay: 1500ms;
}

.circle_row_5.dot {
	animation-delay: 2000ms;
}

.circle_row_6.dot {
	animation-delay: 2500ms;
}