.one_circle {
  height: 220px;
  width: 220px;
  margin: auto;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  animation-duration: 3s;
  animation-name: undulate;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: pointer;
}

@media only screen and (max-width: 1080px) {
  .one_circle {
    display: none;
  }
}